include AUTHORS
include LICENSE
include README.rst
include HISTORY

recursive-include django_flickr_gallery *
recursive-include flickr_ckeditor *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
