{% extends 'base.html' %}

{% load i18n staticfiles %}

{% block content %}
<div class="section section-albuns">

    <div class="container">

        <h1>{% trans 'Gallery' %}</h1>

        <div class="row">
            {% for album in gallery %}
            <div class="col-md-3 col-sm-4 col-xs-6">

                <div class="album">

                    <img src="{{ album.photoset.primary.url_q }}" class="img-responsive"
                         title="{{ album.title }}"{% if album.description %} alt="{{ album.description }}"{% endif %} />

                    <h3 class="album-title">{{ album.title }}</h3>

                    <a href="{{ album.get_absolute_url }}">{% trans 'Show photos' %}</a>
                
                </div>

            </div>
            {% endfor %}
        </div>

    </div>


</div>
{% endblock content %}