{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4 class="header">
        {{ album.title }}
        <span class="badge badge-success pull-right">{{ paginator.total }} photos</span>
    </h4>

    <p>{{ album.photoset.description }}</p>

    {% if page %}
    <div class="row">
    {% for photo in page %}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img title="{{ photo.title }}" src="{{ photo.url_q }}"{% if photo.description %} alt="{{ photo.description }}"{% endif %} />
            </div>
        </div>
    {% endfor %}
    </div>

    {% include "gallery/flickr/parts/pagination.html" %}
    {% else %}
    <div class="row">
    {% for photo in photos %}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img title="{{ photo.title }}" src="{{ photo.url_q }}"{% if photo.description %} alt="{{ photo.description }}"{% endif %} />
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock content %}