{% extends 'base.html' %}

{% load flickr_tags %}

{% block content %}
<div class="container">
    <h4 class="header">
        {{ photoset.title }}
        <span class="badge badge-success pull-right">{{ paginator.total }} photos</span>
    </h4>

    {% if photoset.description %}
        <p>{{ photoset.description }}</p>
    {% endif %}

    <div class="row">
        {% for photo in photos %}
        <div class="col-md-2 col-sm-3 col-xs-4">

            <div class="thumbnail">

                <img title="{{ photo.title }}"
                     class="img-responsive"{% if photo.description %} alt="{{ photo.description }}"{% endif %}
                     src="{{ photo.large_square_url }}" />

            </div>

        </div>
        {% endfor %}
    </div>

    {% if is_paginated %}

        {% paginator page_obj %}

    {% endif %}

</div>
{% endblock content %}