{% load i18n %}
<ul class="pagination">

    <li class="{% if paginator.page.number == paginator.first_page %}disabled{% endif %}">
        {% if paginator.page.number != paginator.first_page %}
            <a href="?page={{ paginator.first_page }}">{% trans 'first' %}</a>
        {% else %}
            <a href="#">{% trans 'first' %}</a>
        {% endif %}
    </li>

    <li class="{% if not paginator.page.has_previous %}disabled{% endif %}">
        {% if paginator.page.has_previous %}
            <a href="?page={{ paginator.page.previous_page_number }}">{% trans 'previous' %}</a>
        {% else %}
            <a href="#">{% trans 'previous' %}</a>
        {% endif %}
    </li>

    {% for number in paginator.page_range %}
        <li class="{% if paginator.page.number == number %}active{% endif %}"><a href="?page={{ number }}">{{ number }}</a></li>
    {% endfor %}

    <li class="{% if not paginator.page.has_next %}disabled{% endif %}">
        {% if paginator.page.has_next %}
            <a href="?page={{ paginator.page.next_page_number }}">{% trans 'next' %}</a>
        {% else %}
            <a href="#">{% trans 'next' %}</a>
        {% endif %}
    </li>

    <li class="{% if paginator.page.number == paginator.last_page %}disabled{% endif %}">
        {% if paginator.page.number != paginator.last_page %}
            <a href="?page={{ paginator.last_page }}">{% trans 'last' %}</a>
        {% else %}
            <a href="#">{% trans 'last' %}</a>
        {% endif %}
    </li>

</ul>